@page "/agregar_vehiculo"

<a href="/gestion_vehiculos"><img src="/imgs/arrow.png"></a>

<br />
<br />
<br />


<h2>Agregar vehiculo</h2>

<hr />

<form>
    <div class="mb-3">
        <label for="txtmarca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="txtmarca" @bind-value="marca">
    </div>

    <div class="mb-3">
        <label for="txtmodelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="txtmodelo" @bind-value="modelo">
    </div>

    <div class="mb-3">
        <label for="txtaño" class="form-label">Año</label>
        <input type="number" class="form-control" id="txtaño" @bind-value="año">
    </div>

    <div class="mb-3">
        <label for="txtprecio" class="form-label">Precio por día(RD$)</label>
        <input type="number" class="form-control" id="txtprecio" @bind-value="precio">
    </div>

    <div class="custom-select">
        <label>Tipo:</label>
        <select @bind="tipo">
            <option value="Carro">Carro</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Camión">Camión</option>
            <option value="Motocicleta">Motocicleta</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="txtcapacidad" class="form-label">Capacidad de carga(Kg)</label>
        <input type="number" class="form-control" id="txtcapacidad" @bind-value="capacidad">
    </div>

    <div class="mb-3">
        <label for="txtpasajeros" class="form-label">Pasajeros</label>
        @pasajeros
        <input type="range" class="form-control" id="txtpasajeros" @bind-value="pasajeros">
    </div>

    <div class="mb-3">
        <label for="txtmatricula" class="form-label">Matricula</label>
        <input type="text" class="form-control" id="txtmatricula" @bind-value="matricula">
    </div>

    <div class="mb-3">
        <label for="txtseguro" class="form-label">Número de seguro</label>
        <input type="number" class="form-control" id="txtseguro" @bind-value="seguro">
    </div>

    <div class="mb-3">
        <label for="txtfoto" class="form-label">Foto</label>
        <input type="file" class="form-control" id="txtfoto" @bind-value="foto">
    </div>


    <button class="btn btn-primary">Agregar</button>
</form>


    @code {

        string marca;
        string modelo;
        int año;
        int precio;
        string tipo;
        int capacidad;
        int pasajeros;
        string matricula;
        long seguro;
        string foto;

    }
