@page "/gestion_clientes"

<h3>Gestión de clientes</h3>

<a href="/Agregar_cliente"><button class="btn btn-primary">Agregar cliente</button></a>

<a href="/Editar_cliente"><button class="btn btn-info">Editar cliente</button></a>

<a href="/Eliminar_cliente"><button class="btn btn-danger">Eliminar cliente</button></a>

<a href="/Habilitar_cliente"><button class="btn btn-secondary">Habilitar cliente</button></a>

@code {

}
