@page "/gestion_vehiculos"

<h3>Gestión de vehiculos</h3>

<a href="/Agregar_vehiculo"><button class="btn btn-primary">Agregar Vehiculo</button></a>

<a href="/Editar_vehiculo"><button class="btn btn-info">Editar Vehiculo</button></a>

<a href="Eliminar_vehiculo"><button class="btn btn-danger">Eliminar Vehiculo</button></a>

@code {

}
