@page "/gestion_reportes"

<h3>Gestión de reportes</h3>

<a href="/ListadoVehiculos"><button class="btn btn-primary">Listado de vehiculos</button></a>

<br />
<br />

<a href="/ListadoBeneficios"><button class="btn btn-secondary">Listado de beneficios</button></a>

<br />
<br />

<a href="/ListadoDeudas"><button class="btn btn-info">Listado de deudas</button></a>

<br />
<br />

<a href="/MapaVehiculos"><button class="btn btn-danger">Ver vehiculos en mapa</button></a>


@code {

}
