@page "/home"

<div>
        <h1 class="text-center">Sistema de Gestión de Alquileres de Vehículos.</h1>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="text-justify">Mediante este sistema podremos los alquileres gestionar vehiculos pertenecientes 
            a nuestra institucion, a continuacion algunas informaciones relevantes y sugerencias de ayuda para su uso</p>
    </div>
    <br>
    <div class="col-md-3"></div>
</div>
<div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-white">
                    <h3 class="text-center"><strong>Gestion vehiculos</strong></h3>
                </div>
                <div class="card-body bg-primary">
                    <img src="/imgs/cars-control.png" width="150" height="150">
                     <p class="text-justify text-white">Se podrán agregar, editar y deshabilitar los vehículos que existen disponibles para alquilar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-white">
                    <h3 class="text-center"><strong>Gestion De Clientes</strong></h3>
                </div>
                <div class="card-body bg-primary">
                    <img src="/imgs/clients-control.png" width="150" height="150">
                     <p class="text-justify text-white">Se podrán agregar, editar y deshabilitar los clientes que alquilan.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-white">
                    <h3 class="text-center"><strong>Gestion de Reservas</strong></h3>
                </div>
                <div class="card-body bg-primary">
                    <img src="/imgs/reservas-control.png" width="150" height="150">
                    <p class="text-justify text-white">En este módulo podremos asignar un cliente a un vehículo en una fecha establecida.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-white">
                    <h3 class="text-center"><strong>Gestion De Cobros</strong></h3>
                </div>
                <div class="card-body bg-primary">
                    <img src="/imgs/cobros-control.png" width="150" height="150">
                    <p class="text-justify text-white">Se van a visualizar todas las facturas generadas a través del sistema de reservas, se podrán registrar como pagadas, cuando se reciba el dinero.</p>
                </div>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-white">
                    <h3 class="text-center"><strong>Gestion de Reportes</strong></h3>
                </div>
                <div class="card-body bg-primary">
                    <img src="/imgs/reports-control.png" width="150" height="150">
                    <p class="text-justify text-white">Se van a visualizar y realizaran todos los reportes de los empledos de la compania.</p>
                </div>
            </div>
    </div>
    <div class="col-md-5"></div>
</div>

