@page "/ListadoBeneficios"

    <a href="/gestion_reportes"><img src="/imgs/arrow.png"></a>


    <h3>Listado de beneficios</h3>

    <table>

        <tr>
            <th></th>
        </tr>

        <tr>
            <td></td>
        </tr>

    </table>

    @code {

    }
